.jumbotron {
  background-image: url("../images/jumbo1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
}

.quote {
  position: absolute;
  left: 20px;
  opacity: 0.1;
}

.quote1 {
  position: absolute;
  right: 20px;
  opacity: 0.1;
}

.social i {
  color: black;
}

.ceo img {
  border-radius: 50%;
}

.view {
  position: absolute;
  height: 50%;
  right: 0;
}

.covid a {
  color: #fff;
}

footer {
  background-color: #343a40;
  color: #fff;
}

footer a {
  color: rgba(255, 255, 255, 0.5);
}

footer a:hover {
  color: rgba(255, 255, 255, 1);
}
